<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Don't log messages and errors when loading properties files, and they can't be found-->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <property resource="application.properties"/>

  <!--
  Note! This file is used when run in the container and will
  override the default logback.xml.
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- Apply to all logs. The service and version are important for some services like Datadog. -->
      <customFields>{"service":"${service.name}","version":"${service.version}"}</customFields>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="no.liflig" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
